<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> <%= title %> </title>
    <meta name="description" content="Voting System">
    <meta name="author" content="Spankie Dee">

    <!-- <link rel="stylesheet" href="/css/normalize.css"> -->
    <link rel="stylesheet" href="/css/tachyons.min.css" />
    <!--<link rel="stylesheet" href="/css/lightbox.min.css">-->
    <link rel="stylesheet" href="/css/style.css">

    <!--[if lt IE 9]>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
      <![endif]-->
</head>

<body class="pa0">
    <% if (page == 'login') { %>
    <div class="" style="background: white url('/images/sweet.jpeg') center no-repeat">
    <% } else { %>
    <div>
    <% } %>
        <nav class="bg-red white shadow-4 cf w-100 fixed">
            <div class="ph0 ph3-m ph5-l">
                <div class="dib v-mid">
                    <a class="ma0 white dib v-mid pa2 f3 no-underline" href="/">UVS</a>
                </div>
                <div class="dib v-mid fr">
                    <a href="/register" class="pa3 bg-dark-red white dib v-mid dim no-underline">Register</a>
                    <% if (page != 'login') { %>
                    <span class="pa3 bg-dark-red white dib v-mid dim dn-ns pointer" onclick="toggleSideNav()">
                        <a href="#!" class="no-underline box-shadow-menu"></a>
                    </span>
                    <% } %>
                    <!--<a href="admin" class="pa3 bg-dark-red white dib v-mid dim no-underline">Admin</a>-->
                </div>
            </div>
        </nav>
    <% if (page == 'login') { %>
        <div class="ph0 ph3-m ph5-l pv4 pv6-ns cf">
        <!-- remember to make this responsive -->
            <div class="fl-ns w-70-ns pa2 tc tl-ns">
                <h2 class="orange">Admin Login for the Ultimate voting system</h2>
                <p class="white">For the sake of transparency!!!</p>
            </div>
            <div class="fl-ns w-30-ns ph2 ph0-ns">
                <div class="bt br bl b--red bg-red pv3">
                    <p class="mv0 tc white">ADMIN LOGIN</p>
                </div>
                <div class="pa2 tc bg-orange br bb bl b--red">
                <% if (typeof get_err != 'undefined') { %>
                    <p class="white"><%= get_err %></p>
                <% } %>
                    <form action="/admin/login" method="POST">
                        <input type="text" name="username" placeholder="username" class="w-100 ba navy pa3 db mb2 tc f4" required>
                        <input type="password" name="password" placeholder="password" class="w-100 ba navy pa3 db mb2 tc f4" required>
                        <input type="submit" name="login" value="LOGIN" class="pa3 ba b-white white bg-red mb2 shadow-4 pointer">
                    </form>
                </div>
            </div>
        </div>
    </div><!-- close the nav div -->
    <footer class="bg-red ph0 ph3-m ph5-l white pv2">
        <p class="mv0 tc">Made with &hearts; in Nigeria</p>
    </footer>
    <% } else { %>
    </div><!-- close the nav div -->

    <div class="">
        <div id="sidenav" class="w5 w5-ns dn dib-ns" style="position: fixed; margin-top: 50px; height: 100vh">
            <div class="shadow-4 orange h-100" style="background: white url('/images/sweet2.jpg') center no-repeat;">
                <div class="h-100" style="background-color: rgba(0, 0, 0, 0.8)">
                    <div class="h4 pa3">
                        <p class="ma0 tc">Welcome <%= admin %>...</p>
                    </div>
                    <a href="/admin" class="orange bb bt b--orange db ph3 pv3 no-underline dim">Dashboard</a>
                    <a href="/admin/voters" class="orange bb b--orange db ph3 pv3 no-underline dim">Voters</a>
                    <a href="/admin/elections" class="orange bb b--orange db ph3 pv3 no-underline dim">Elections</a>
                    <!--<a href="/admin/ongoing" class="orange bb b--orange db ph3 pv3 no-underline dim">Ongoing Election</a>
                    <a href="/admin/students" class="orange bb b--orange db ph3 pv3 no-underline dim">Students</a>-->
                    <a href="/logout" class="orange bb b--orange db ph3 pv3 no-underline dim">Logout</a>
                </div>
            </div>
        </div>

        <div class="ml7-ns pt5">
            <div class="ph2">
            <% if (page == 'loggedin') { %>
                <p class="mv0">DASHBOARD</p>
            <% } else if (page == 'voters') { %>
                <div class="pa2 mb2">
                    <p class="mv0">Voters</p>
                    <hr class="light">
                    <div class="">
                        <div class="overflow-auto">
                            <p class="mw8 center f4 navy">List of all Voters</p>
                            <table class="f6 w-100 mw8 center" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">S/N</th>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Name</th>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Matric Number</th>
                                        <!--<th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">D.O.B</th>-->
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">State</th>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">L.G.A</th>
                                        <!--<th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Edit</th>-->
                                    </tr>
                                </thead>
                                <tbody class="lh-copy">
                                <% if(voters) { %>
                                <% voters.forEach(function(item){ %>
                                    <tr>
                                        <td class="pv3 pr3 bb b--black-20"><%= item.id %></td>
                                        <td class="pv3 pr3 bb b--black-20"><%= item.fname + " " + item.mname + " " + item.lname %></td>
                                        <td class="pv3 pr3 bb b--black-20"><%= item.matno %></td>
                                        <!--<td class="pv3 pr3 bb b--black-20"><%= item.dob %></td>-->
                                        <td class="pv3 pr3 bb b--black-20"><%= item.state %></td>
                                        <td class="pv3 pr3 bb b--black-20"><%= item.lga %></td>
                                        <!--<td class="pv3 pr3 bb b--black-20 red">Delete/suspend</td>-->
                                    </tr>
                                <% }) %>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <% } else if (page == 'elections') { %>
                <div class="pa2 mb2">
                    <div class="cf">
                        <div class="dib">
                            <p class="red">ELECTIONS: </p>
                        </div>
                        <div class="mv2 fr dib v-mid bt b--black-20 pt2">
                            <% if (typeof query.err != 'undefined') { %>
                            <p class="mv0 red"><%= query.err %></p>
                            <% } %>
                            <% if (typeof query.status != 'undefined') { %>
                            <p class="mv0 green"><%= query.status %></p>
                            <% } %>
                            <form action="/admin/elections/new" method="POST" class="dib v-mid">
                                <input type="text" name="type" placeholder="Type" class="pa2 mb1">
                                <input type="date" name="date" placeholder="12/31/2017" class="pa1 mb1">
                                <input type="number" name="duration" placeholder="24" class="pa2 mb1">
                                <input type="submit" name="save" value="SAVE" class="white bg-navy ba pv2 ph3 pointer">
                            </form>
                        </div>
                    </div>
                    <hr class="light">
                    <div class="">
                        <div class="overflow-auto">
                            <p class="mw8 center f4 navy">List of all elections</p>
                            <table class="f6 w-100 mw8 center" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">S/N</th>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Type</th>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Start Date</th>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Duration</th>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Status</th>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Edit</th>
                                    </tr>
                                </thead>
                                <tbody class="lh-copy">
                                <% if (typeof elections != 'undefined') { %>
                                <% elections.forEach(function(election, index) { %>
                                <% var d = new Date(election.date) %>
                                    <tr>
                                        <td class="pv3 pr3 bb b--black-20"><%= election.id %></td>
                                        <td class="pv3 pr3 bb b--black-20"><%= election.type %></td>
                                        <td class="pv3 pr3 bb b--black-20"><%= d.getDate() + "/" + d.getMonth() + "/" + d.getYear() %></td>
                                        <td class="pv3 pr3 bb b--black-20"><%= election.duration %> hours</td>
                                        <td class="pv3 pr3 bb b--black-20"><%= election.status %></td>                                        
                                        <td class="pv3 pr3 bb b--black-20"><a href="/admin/elections/<%= election.id %>" class="pv1 ph2 shadow-4 f4 no-underline bg-navy white">+</a></td>
                                    </tr>
                                <% }) %>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <% } else if (page == 'editelection') { %>
                <div class="pa2 mb2">
                    <p class="mv0">EDIT THIS ELECTION</p>
                    <hr class="light">
                    <div class="mb4 cf">
                        <div class="fl w-50 pt2">
                            <div class="tc">
                        <% if(election.status == 'pending' || election.status == 'ended') { %>
                            <a href="/admin/elections/<%= election.id %>/start" class="no-underline pa2 bg-navy white">START</a>
                        <% } else if (election.status == 'started') { %>
                            <a href="/admin/elections/<%= election.id %>/stop" class="no-underline pa2 bg-red white">STOP</a>
                        <% } %>
                            </div>
                            <div class="mt3 ph3">
                                <div class="ph3 bg-washed-red cf bb b--white">
                                    <p class="navy dib">Type :</p><p class="navy fr dib"> <%= election.type %></p>
                                </div>
                                <div class="ph3 bg-washed-red cf bb b--white">
                                    <% var d = new Date(election.date) %>
                                    <p class="navy dib">Date :</p><p class="navy fr dib"> <%= d.getDate() + "/" + d.getMonth() + "/" + d.getYear() %></p>
                                </div>
                                <div class="ph3 bg-washed-red cf bb b--white">
                                    <p class="navy dib">Duration :</p><p class="navy fr dib"> <%= election.duration %> Hours</p>
                                </div>
                                <div class="ph3 bg-washed-red cf bb b--white">
                                    <p class="navy dib">Status :</p><p class="navy fr dib"> <%= election.status %></p>
                                </div>
                            </div>
                        </div>
                        <div class="fl w-50 ph3">
                            <div class="">
                                <h3 class="orange">Add a candidate to this election</h3>
                                <% if (typeof query.err != 'undefined') { %>
                                <p class="mt0 red"><%= query.err %></p>
                                <% } %>
                                <% if (typeof query.status != 'undefined') { %>
                                <p class="mt0 green"><%= query.status %></p>
                                <% } %>
                                <form action="/admin/elections/<%= elect_id %>/candidate" method="POST">
                                    <select name="pos" class="pa2 db mb1 w-60">
                                        <option selected disabled>Position</option>
                                        <option value="President">President</option>
                                        <option value="Vice-President">Vice President</option>
                                        <option value="Sec-General">Sec. General</option>
                                        <option value="Dep-Sec-General">Dep. Sec. Gen.</option>
                                        <option value="Dir-of-Sports">Dir. of Sports</option>
                                        <option value="Dir-of-Socials">Dir. of Socials</option>
                                        <option value="Dir-of-Info">Dir. of Info</option>
                                        <option value="Dir-of-Welfare">Dir. of Welfare</option>
                                        <option value="Treasurer">Treasurer</option>
                                        <option value="Provost-Marshall">Provost Marshall</option>
                                        <option value="Financial-Secretary">Financial Secretary</option>
                                    </select>
                                    <input type="text" name="name" placeholder="Names" class="pa2 db mb1 w-60">
                                    <input type="text" name="matno" placeholder="Matric Number" class="pa2 db mb1 w-60">
                                    <input type="submit" value="Add" class="pa2 db pv2 ph3 bg-orange ba b--white pointer shadow-3 white">
                                </form>
                            </div>
                        </div>
                    </div>
                    <hr class="light">
                    <div class="">
                        <p class="f3 mw8 center">List of candidates</p>
                        <table class="f6 w-100 mw8 center" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Name</th>
                                    <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Matric Number</th>
                                    <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Position</th>
                                    <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Edit</th>
                                </tr>
                            </thead>
                            <tbody class="lh-copy">
                            <% if(typeof candidates != 'undefined') { %>
                            <% candidates.forEach(function(candidate, index){ %>
                                <tr>
                                    <td class="pv3 pr3 bb b--black-20"><%= candidate.names %></td>
                                    <td class="pv3 pr3 bb b--black-20"><%= candidate.matno %></td>
                                    <td class="pv3 pr3 bb b--black-20"><%= candidate.position %></td>
                                    <td class="pv3 pr3 bb b--black-20"><a href="#!" class="dim">remove</a></td>
                                </tr>
                            <% }) %>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            <% //} else if (page == 'ongoing') { %>
                <!--<p class="mv0">ONGOING ELECTION</p>-->
            <% //} else if (page == 'students') { %>
                <!--<div class="pa2 mb2">
                    <p class="mv0">STUDENTS</p>
                    <hr class="light">
                    <div class="">
                        <div class="overflow-auto">
                            <div class="tc">
                                <p class="mw8 center f4 dib">List of all eligible students</p>
                            </div>
                            <table class="f6 w-100 mw8 center" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Name</th>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Matric Number</th>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">D.O.B</th>
                                    </tr>
                                </thead>
                                <tbody class="lh-copy">
                                    <tr>
                                        <td class="pv3 pr3 bb b--black-20">Spankie Dee</td>
                                        <td class="pv3 pr3 bb b--black-20">12/095244056</td>
                                        <td class="pv3 pr3 bb b--black-20">18/04</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>-->
            <% } else { %>
                <p class="mv0">MALFORMED URL</p>
            <% } %>
            </div>
        </div>
    </div>
    <!-- insert custom js here -->
    <footer class="bg-red ph0 ph3-m ph5-l white pv2 ml7-ns">
        <p class="mv0 tc">Made with &hearts; in Nigeria</p>
    </footer>
    <% } %>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/admin.js"></script>
</body>

</html>